<div class="row">
  <div class="col-3">
    <img
      class="float-left"
      src="{this.props.producto.imagen}"
      alt="Foto Producto"
    />
  </div>
  <div class="col-9">
    <p class="ml-1">
      nombre
      <br />
      <small style="opacity: 50%"> Código del producto: 9990 </small>
    </p>
    <p class="ml-1 d-flex float-start" id="">0€</p>
    <p class="d-flex float-end" id="">x0</p>

    <button class="btn d-flex pt-0 float-start">
      <fa-icon [icon]="faTrash"></fa-icon>
    </button>
  </div>
</div>
