<div class="row">
  <div class="col-3">
    <img
      class="float-start imgcesta"
      src="{{ prod.imagen }}"
      alt="Foto Producto"
    />
  </div>
  <div class="col-9">
    <p class="ml-1">
      {{ prod.nombre }}
      <br />
      <small style="opacity: 50%"> Código del producto: {{ prod.id }} </small>
    </p>
    <p class="ml-1 d-flex float-start" id="">
      {{ prod.precio * prod.cantidad }}€
    </p>
    <p class="d-flex float-end" id="">x{{ prod.cantidad }}</p>

    <button class="btn d-flex pt-0 float-end" (click)="deleteCesta()">
      <fa-icon [icon]="faTrash"></fa-icon>
    </button>
  </div>
</div>
