<div class="col-3 cesta shadow p-3 mt-5 mb-4 bg-white">
  <h1 class="text-center">Cesta</h1>
  <h3 class="float-start" id="numArticulos">
    {{ getNumArticulos() }} artículos
  </h3>
  <h4 id="preciototal" class="float-end mr-1">{{ getPrecioTotal() }}€</h4>
  <br /><br />
  <hr />
  <div class="row" id="lista-cesta">
    <!--productos-->
    <app-producto-cesta
      *ngFor="let prod of cesta$ | async"
      [prod]="prod"
    ></app-producto-cesta>
  </div>
  <hr />

  <button
    type="button"
    class="btn btn-dark mx-auto d-block"
    (click)="openPopup()"
  >
    Confirmar Compra
  </button>
  <div class="modal mt-5" role="dialog" [ngStyle]="{ display: displayStyle }">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Confirmación del pedido</h4>
        </div>
        <div class="modal-body">
          Esta a punto de finalizar la compra de
          {{ getNumArticulos() }} artículo(s) por un total de
          {{ getPrecioTotal() }}€
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="closePopup()">
            Cerrar
          </button>
          <button type="button" class="btn btn-dark" (click)="resetCesta()">
            Confirmar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
