<div class="inner pt-10">
  <form>
    <h3 class="text-center mb-3">Nuevo Producto</h3>

    <div class="form-group">
      <label class="pt-2">Nombre del Producto</label>
      <input
        type="text"
        class="form-control"
        name="nombre"
        placeholder="Introduzca el nombre del producto"
        [(ngModel)]="nombre"
      />
      <label class="pt-2">Imagen del Producto</label>
      <input
        type="file"
        class="form-control"
        name="imagen"
        [(ngModel)]="imagen"
      />
      <label class="pt-2">Precio</label>
      <input
        type="number"
        class="form-control"
        name="precio"
        placeholder="Precio"
        [(ngModel)]="precio"
      />
      <label class="pt-2">Stock</label>
      <input
        type="number"
        class="form-control"
        name="stock"
        placeholder="Stock"
        [(ngModel)]="stock"
      />
      <label class="pt-2">Categoria</label>
      <select
        class="form-select"
        id="categorias-producto"
        name="categoria"
        [(ngModel)]="categoria"
        validations="required"
      ></select>
    </div>

    <br />

    <button type="submit" class="btn btn-dark w-100" id="btn-login">
      Añadir
    </button>
  </form>
</div>
